@import "bootstrap";

a {
  text-decoration: none !important;
}

label,
em {
  float: left;
}

.remember {
  float: none !important;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
  align-items: center;
}

p.alert {
  font-size: larger;
}